<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="70%">
        <mat-card>
            <div fxLayout="row" fxFlex="100%">
                <div fxLayout="column" fxFlex="50%">
                    <div fxFlex="100%" fxLayout="column" class="contacts">
                        <h1>Here be contacts!</h1>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="50%">
                    <h1>Here be chat!</h1>
                </div>
            </div>
        </mat-card>
    </div>
</div>