<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="70%">
        <mat-card>
            <div fxLayout="row" fxFlex="100%">
                <div class="contacts" fxLayout="column" fxFlex="35%">
                    <mat-tab-group [dynamicHeight]="true">
                        <mat-tab label="Dialogs">
                            <app-dialogs (onDialogSelected)="contactSelected($event)"></app-dialogs>
                        </mat-tab>
                        <mat-tab label="Contacts">
                            <app-contacts (onContactSelected)="contactSelected($event)"></app-contacts>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div fxLayout="column" fxFlex="65%">
                    <div *ngIf="selectedDialog; else dialogNotSelected" fxLayout="column" fxFlex="100%">
                        <h1>Here be dialog with {{selectedDialog}}!</h1>
                    </div>
                    <ng-template #dialogNotSelected>
                        <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
                            <div class="dialog-placeholder">Please select a dialog or create a new one</div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </mat-card>
    </div>
</div>