<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="70%">
        <mat-card>
            <div fxLayout="row" fxFlex="100%">
                <div fxLayout="column" fxFlex="50%">
                    <div class="contacts">
                        <mat-tab-group dynamicHeight fxLayout="column">
                            <mat-tab label="Contacts" fxLayout="column">
                                <h1>Here be Contacts!</h1>
                            </mat-tab>
                            <mat-tab label="Dialogs" fxLayout="column">
                                <h1>Here be Dialogs!</h1>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="50%">
                    <h1>Here be chat!</h1>
                </div>
            </div>
        </mat-card>
    </div>
</div>