<form class="search-form">
    <mat-form-field fxFlex="row" class="container" floatLabel="auto">
        <mat-label fxLayout="row" fxLayoutAlign="start center">
            <i class="material-icons">search</i>
            <span>Search</span>
        </mat-label>
        <input matInput [(ngModel)]="searchStr" name="search" (keyup)="doSearch()">
        <button mat-button *ngIf="searchStr" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <i class="material-icons search-clear-btn">close</i>
        </button>
    </mat-form-field>
</form>
<div class="container" *ngIf="searchStarted">
    <div *ngIf="results.length == 0 && localResults.length == 0">No results</div>
    <div *ngIf="localResults.length > 0">
        <div *ngFor="let contact of localResults">
            <app-contact-item [item]="contact"></app-contact-item>
        </div>
    </div>
    <div *ngIf="results.length > 0">
        <div class="global-search-divider" fxLayout="row" fxLayoutAlign="center center">
            GLOBAL SEARCH
        </div>
        <div *ngFor="let contact of results">
            <app-contact-item [item]="contact"></app-contact-item>
        </div>
    </div>
</div>
