.container > * {
    width: 100%;
}

.container {
    padding-right: 24px;
}

.search-form {
    margin-bottom: 0;
}

.search-clear-btn {
    font-size: 20px;
    color: #aaaaaa;
    margin-bottom: 7px;
}

.global-search-divider {
    background-color: #ddd;
    color: #fff;
    height: 30px;
    align-content: center;
    text-align: center;
    box-shadow: 0 1px 0.1em #aaa;
    -moz-box-shadow: 0 1px 0.1em #aaa;
    -webkit-box-shadow: 0 1px 0.1em #aaa;
    margin-top: 20px;
}

.global-search-divider-text {
    margin: auto;
}