<form class="search-form">
    <mat-form-field fxFlex="row" class="container" floatLabel="auto">
        <mat-label fxLayout="row" fxLayoutAlign="start center">
            <i class="material-icons">search</i>
            <span>Search</span>
        </mat-label>
        <input matInput [(ngModel)]="searchStr" name="search" (keyup)="doSearch()">
        <button mat-button *ngIf="searchStr" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <i class="material-icons search-clear-btn">close</i>
        </button>
    </mat-form-field>
</form>
<div *ngIf="results.length == 0 && searchStarted">No results</div>
<div *ngIf="results.length > 0">Here be results</div>