<div class="HolyGrail">
    <header fxLayout="row" class="header-container">
        <div class="block" fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" class="round-shape" fxLayoutAlign="center center" fxFlexAlign="center">
                <i class="material-icons">person_outline</i>
            </div>
            <div fxLayout="column" fxFlexAlign="center">{{contact.name}}</div>
        </div>
    </header>
    <div class="HolyGrail-body" fxLayout="row" #messagesContainer (scroll)="onContainerScroll()">
        <div class="block" fxLayout="column" fxFlex="100%">
            <app-message *ngFor="let message of messages" [message]="message" [isMy]="message.from === currentUserName"></app-message>
        </div>
    </div>
    <footer class="message-input-panel" fxLayout="row">
        <div fxLayout="row" class="block" fxFlex="100%">
            <div fxLayout="column" fxFlex="90%">
                <form>
                    <mat-form-field fxFlex="100%">
                    <textarea matInput placeholder="Type your message"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="2"
                              cdkAutosizeMaxRows="4"></textarea>
                    </mat-form-field>
                </form>
            </div>
            <div fxLayout="column" fxFlex="10%" fxFlexAlign="center">
                <button mat-icon-button fxFlexAlign="center"><i class="material-icons send-btn">send</i></button>
            </div>
        </div>
    </footer>
</div>